.userinfo-container {
    padding:.5rem;
    p {
        margin:.5rem 0;
        line-height: 1.5;
        font-size:.7rem;
        i {
            color:#f63;
        }
        span {
            padding-left:.5rem;
            color: #666;
        }
    }
}