.order-list-container {
    padding:.5rem;
    h2 {
        position: relative;
        font-size:.8rem;
        color:#333;
        padding-bottom:.5rem;
        &:after {
            content: '';
            position: absolute;
            left:0;
            right: 0;
            bottom: 0;
            border-bottom: 1px solid #e1e1e1;
            transform: scaleY(.5);
        }
    }
}